* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Lato;
    background-color: #fff;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    font-family: Lato;
    font-size: 14px;
    box-sizing: border-box;
}

/* ======= page-header ======= */
.page-header-wrap{
    height: 75px;
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blue; */
}

.page-header button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
}

.page-header svg {
  width: 100%;
  height: 100%;
  fill: #E8E8E8;
}

.page-header-wrp-btn {
  /* margin-left: 15%; */
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.page-header-wrp-btn:nth-child(2) {
  /* margin-right: 15%; */
  width: 168px;
}

/* === page-header-logo === */
.page-header-logo {
  display: block;
  width: 44px;
  height: 38px;
  text-decoration: none;
  color: #fff;
}
.page-header-logo:hover img {
  filter: brightness(30%);
}
.page-header-logo:active img {
  filter: brightness(10%);
}
/* === end page-header-logo === */

/* === page-header-search-form === */
.page-header-search-form {
  width: 26px;
  min-height: 26px;
  position: relative;
}

.page-header-search-form:hover svg {
  fill: orange;
}

.page-header-search-btn {
  width: 0;
  min-height: 0;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -1px;
  left: 30px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}

.page-header-search-btn:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.page-header-search-btn:focus ~ label> svg {
  fill: green;
}

.page-header-search-btn:active ~ label> svg {
  fill: red;
}
/* === end page-header-search-form === */


/* === mobile menu === */
/* .menu {
  
} */

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after{
  background-color: orange;
}

.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after{
  background-color: red;
}

.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}

.menu-btn span::after {
  top: 10px;
}

#menu-switch {
  display: none;
}

#menu-switch:checked ~ .menu-list {
  display: block;
}

#menu-switch:checked ~ .page-header-banner {
  border: 8px solid red;
}
/* ======================= */

.menu-list {
  display: none;
  width: 232px;
  min-height: 764px;
  padding: 16px 33px;
  box-sizing: border-box;
  background-color: #fff;
  list-style: none;  
  position: absolute;
  top: 75px;
  right: 0;
  z-index: 20;
}

.menu-list-close-btn {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 170px;
}

.menu-list-close-btn::before,
.menu-list-close-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 2px;
  background: #6F6E6E;
  border-radius: 10px;
  position: absolute;
  top: 5px;
  left: -3px;
  transform: rotate(45deg);
}

.menu-list-close-btn::after {
  transform: rotate(-45deg)
}

.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
  background: #B7B6B6;
}

.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after{
  background: #535353;
}

.menu-list-title {
  display: block;
  margin: 9px 0 24px 0;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.menu-title>a,
.menu-list-item>a,
.menu-sublist-item>a {
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
}

/* .menu-list-item {
  
} */

.menu-list-item>a {
  display: block;
  margin: 0 0 11px 0;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-list-item:hover>a {
  color: #9889D7;
}

.menu-list-item:active>a {
  color: #9D2334;
}

.menu-sublist {
  padding: 0 0 0 21.5px;
  box-sizing: border-box;
  list-style: none;
}

.menu-sublist-item>a {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 11px 0;
  color: #6F6E6E;
}

.menu-sublist-item a {
  text-decoration: none;
}

.menu-sublist-item:hover a {
  text-decoration: underline;
}

.menu-sublist-item:active a {
  text-decoration: none;
}
/* === end mobile menu === */

/* === account-btn === */
.account-btn svg {
  width: 29px;
  height: 29px;
}

.account-btn:hover svg {
  fill: orange;
}

.account-btn:active svg {
  fill: red;
}
/* === end account-btn === */

/* === cart-btn === */
.cart-btn {
  display: block;
  background: transparent;
  border: none;
  position: relative;
}

.cart-btn svg{
  width: 32px;
  height: 29px;
  fill: #E8E8E8;
}

.cart-btn span{
  display: block;
  width: 19px;
  height: 19px;
  background: #F16D7F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 14px; 
  color: #FFFFFF;
  position: absolute;
  top: -7px;
  left: 22px;
}

.cart-btn:hover svg {
  fill: orange
}

.cart-btn:active svg {
  fill: red;
}
/* === end cart-btn === */

.breadcrumb{
  width: 100%;
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #F1E4E6;
  background-size: contain;
  background-position: bottom left;
  text-transform: uppercase;
}

.display-selection-title{
  font-weight: 300;
  color: #F16D7F;
}

ul.display-selection{  
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  list-style: none;
  color: black;
}

ul.display-selection li {
  display: inline;
}

ul.display-selection li+li:before {
  color: black;
  content: "/\00a0";
}

ul.display-selection li a {
  text-decoration: none;
}

.display-selection-category{
  color: #F16D7F;    
}
  /* ======= end page-header ======= */

  /* ======= page main ======= */
   .main{
    padding-top: 132px;
    /* border: 2px solid red; */
  }

  /* ======= image slider ======= */  
  .imageslider {
    width: 100%;
    height: 777px;
    background-color: #F7F7F7;
  }

  .imageslider:hover{
    filter: brightness(80%);
  }

  .imageslider:hover .prev{
    visibility: visible;
  }

  .imageslider:hover .next{
    visibility: visible;
  }

  .slide-image{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .prev{
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); 
    box-sizing: border-box;
    visibility: hidden;
  }

  .next{
    width: 47px;
    height: 47px;
    background: rgba(42, 42, 42, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); 
    box-sizing: border-box;
    visibility: hidden;
  }

  .prev:active{
    fill: #F16D7F;
  }

  .next:active{
    fill: #F16D7F;
  }
  /* ======= end image slider ======= */  


  /* ======= product-description ======= */    
  .product-description{
    width: 100%;
    min-height: 600px;   
    /* border: 2px solid green; */
  }

  .product-description-wrp{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    min-height: 470px;
    margin: 65px 0;
  } 

  .product-category{
    margin-bottom: 12px;
    font-weight: 300;
    line-height: 17px;
    text-transform: uppercase;
    color: #F16D7F;    
    /* border: 2px solid red; */
  }

  .product-title{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4D4D4D
  }
  
  .product-content{
    width: 555px;
    height: 51.43px;
    margin-bottom: 32px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;  
    color: #5E5E5E;
  }

  .product-price{
    margin-bottom: 65px;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;    
    color: #EF5B70;    
  }

  .product-line{
    width: 642px;
    height: 1px;
    margin-bottom: 65px;
    color: #EF5B70;
  }

  .product-sort-box{
    width: 373.02px;
    height: 17.14px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 2px solid blue; */
  }

  input:focus,
  button:focus {
    outline: none;
  }

  input:focus-visible, 
  button:focus-visible{
    outline: 2px solid #F16D7F;
  }

  /* ======= choose color sort ======= */
  .list-color {
    width: 132px;
    height: 17.14px;
    border: none;
    background-color: transparent;
    z-index: 25; 
  }

  .list-color-btn-title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 600;
    line-height: 16.8px;
    color: #6F6E6E;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
  }

  .list-color-btn-title svg {
    fill: #6F6E6E;
    position: absolute;
    top: 30%;
    right: 0%;
  }

  .list-color-btn-title:hover {
    color: #F16D7F;
  }

  .list-color-btn-title:hover svg {
    fill: currentColor;
  }

  .list-color-btn-title:active {
    color: black;
  }

  .list-color-btn-title:active svg {
    fill: currentColor;
  }

  #switch-color {
    display: none;
  }

  #switch-color:checked ~ .list-color-wrp {
    display: flex;
  }

  .list-color-wrp {
    display: none;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 9.5px 9.5px 9.5px 31px;
    box-sizing: border-box;
    background-color: #fff;
    border-right: 0.4px solid grey;
    border-left: 0.4px solid grey;
    border-bottom: 0.4px solid grey;
    z-index: 225;  
  }

  .list-color-item {
    display: none;
  }

  .list-color-item:nth-child(1):checked ~ .list-color-item-title:nth-child(2):before,
  .list-color-item:nth-child(3):checked ~ .list-color-item-title:nth-child(4):before,
  .list-color-item:nth-child(5):checked ~ .list-color-item-title:nth-child(6):before,
  .list-color-item:nth-child(7):checked ~ .list-color-item-title:nth-child(8):before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
    background-size: cover;
    background-position: center;
  }

  .list-color-item-title {
    display: block;
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: #6F6E6E;
  }

  .list-color-item-title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 1px;
    left: -23.5px;
  }
  /* ======= end choose color sort ======= */

  /* ======= choose size sort ======= */
  .list-size {
    width: 114px;
    height: 17.14px;
    border: none;
    background-color: transparent; 
    z-index: 25; 
  }

  .list-size-btn-title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 600;
    line-height: 16.8px;
    color: #6F6E6E;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
  }

  .list-size-btn-title svg {
    fill: #6F6E6E;
    position: absolute;
    top: 30%;
    right: 2%;
  }

  .list-size-btn-title:hover {
    color: #F16D7F;
  }

  .list-size-btn-title:hover svg {
    fill: currentColor;
  }

  .list-size-btn-title:active {
    color: black;
  }

  .list-size-btn-title:active svg {
    fill: currentColor;
  }

  #switch-size {
    display: none;
  }

  #switch-size:checked ~ .list-size-wrp {
    display: flex;
  }

  .list-size-wrp {
    display: none;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 9.5px 9.5px 9.5px 31px;
    box-sizing: border-box;
    background-color: #fff;
    border-right: 0.4px solid grey;
    border-left: 0.4px solid grey;
    border-bottom: 0.4px solid grey;
    z-index: 225;  
  }

  .list-size-item {
    display: none;
  }

  .list-size-item:nth-child(1):checked ~ .list-size-item-title:nth-child(2):before,
  .list-size-item:nth-child(3):checked ~ .list-size-item-title:nth-child(4):before,
  .list-size-item:nth-child(5):checked ~ .list-size-item-title:nth-child(6):before,
  .list-size-item:nth-child(7):checked ~ .list-size-item-title:nth-child(8):before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
    background-size: cover;
    background-position: center;
  }

  .list-size-item-title {
    display: block;
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: #6F6E6E;
  }

  .list-size-item-title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 1px;
    left: -23.5px;
  }
  /* ======= end choose size sort ======= */

  /* ======= choose quantity sort ======= */
  .list-count {
    width: 96px;
    height: 17.14px;
    border: none;
    background-color: transparent; 
    z-index: 25; 
  }

  .list-count-btn-title {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 600;
    line-height: 16.8px;
    color: #6F6E6E;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
  }

  .list-count-btn-title svg {
    fill: #6F6E6E;
    position: absolute;
    top: 30%;
    right: 5%;
  }

  .list-count-btn-title:hover {
    color: #F16D7F;
  }

  .list-count-btn-title:hover svg {
    fill: currentColor;
  }

  .list-count-btn-title:active {
    color: black;
  }

  .list-count-btn-title:active svg {
    fill: currentColor;
  }

  #switch-count {
    display: none;
  }

  #switch-count:checked ~ .list-count-wrp {
    display: flex;
  }

  .list-count-wrp {
    display: none;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 9.5px 9.5px 9.5px 31px;
    box-sizing: border-box;
    background-color: #fff;
    border-right: 0.4px solid grey;
    border-left: 0.4px solid grey;
    border-bottom: 0.4px solid grey;
    z-index: 225;  
  }

  .list-count-item {
    display: none;
  }

  .list-count-item:nth-child(1):checked ~ .list-count-item-title:nth-child(2):before,
  .list-count-item:nth-child(3):checked ~ .list-count-item-title:nth-child(4):before,
  .list-count-item:nth-child(5):checked ~ .list-count-item-title:nth-child(6):before,
  .list-count-item:nth-child(7):checked ~ .list-count-item-title:nth-child(8):before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
    background-size: cover;
    background-position: center;
  }

  .list-count-item-title {
    display: block;
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: #6F6E6E;
  }

  .list-count-item-title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 1px;
    left: -23.5px;
  }
  /* ======= end choose quantity sort ======= */

  .product-btn {
    display: block;
    width: 211px;
    padding: 14.5px;
    background-color: #fff;
    border: 2px solid #F26376;
    box-sizing: border-box;
    color: #F26376;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    word-break: break-all;
  }

  .product-btn svg {
    fill: #F26376;
    margin: 0 11px 0 0;
  }

  .product-btn:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
  }

  .product-btn:active {
    background-color: #fff;
    border: 2px solid #F26376;
    color: #F26376;
  }
  /* ======= end product-description ======= */ 

  /* ======= products ======= */
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1140px;
    margin: 63px auto 0 auto;
  }

  .products-item-wrp {
    display: block;
    width: 360px;
    margin: 0 30px 30px 0;
    position: relative;
    background: #F8F8F8;
    text-decoration: none;
    box-sizing: border-box;
  }

  .products-item-wrp:nth-child(3n) {
    margin: 0 0 30px 0;
  }

  .products-item-wrp:hover .products-item-btn {
    display: flex
  }

  .products-item-wrp:hover .products-item-btn:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
  }

  .products-item-wrp:hover .products-item-btn:hover svg {
    fill: #000;
  }

  .products-item-wrp:hover .products-item-btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }

  .products-item-wrp:hover .products-item-btn:active svg {
    fill: #fff;
  }

  .products-item-wrp:hover .products-item-photo {
    filter: brightness(50%);
  }

  .products-item-wrp:hover .products-item-photo-wrp:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
  }

  .products-item-photo-wrp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F7E4E2;
    box-sizing: border-box;
  }

  .products-item-photo {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .products-item-txt-wrp {
    padding: 25px 18px 20px 18px;
    box-sizing: border-box;
    text-align: left;
  }

  .products-item-title {
    display: block;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }

  .products-item-txt {
    margin: 0 0 18px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }

  .products-item-price {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
  }

  .products-item-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 160px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: calc(50% - 80px);
  }

  .products-item-btn svg {
    fill: #fff;
    margin: 0 11px 0 0;
  }

  .products-btn {
    display: block;
    width: 211px;
    padding: 14.5px;
    background-color: #fff;
    border: 2px solid #F26376;
    box-sizing: border-box;
    color: #F26376;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    word-break: break-all;
  }
  
  .products-btn:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
  }

  .products-btn:active {
    background-color: #fff;
    border: 2px solid #F26376;
    color: #F26376;
  }
  /* ======= end products ======= */

  /* ======= subscribe ======= */
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    min-height: 448px;
    padding: 20px;
    margin: 98px auto 0 auto;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(244,244,244, 0.7), rgba(244,244,244, 0.7)), 
                      url('https://i.postimg.cc/tJVR1VWX/Layer-41.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F3EEEF;
  }

  .subscribe-info {
    display: flex;
    margin: 0 340px 0 0;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 360px;
  }

  .subscribe-info-avatar {
    display: block;
    width: 96px;
    height: 96px;
    margin: 0 0 30px 0;
    background-image: url('https://i.postimg.cc/Y28TgSb7/d22362bea3cdf98de9818d4394ba8ed3-1.png');
    background-size: 150%;
    background-position: center -10px;
    border-radius: 50%;
    background-repeat: no-repeat;
  }

  .subscribe-info-txt {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
  }

  .subscribe-info-txt span {
    font-style: italic;
  }

  .subscribe-form-wrp {
    width: 355px;
  }

  .subscribe-form-title, 
  .subscribe-form-subtitle {
    color: #222224;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
  }

  .subscribe-form-title {
    display: block;
    margin: 0 0 10px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 40.13px;
  }

  .subscribe-form-subtitle {
    display: block;
    margin: 0 0 32px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 30.1px;
  }

  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 356px;
  }

  .subscribe-form-email {
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 20px 0 0 20px ;
    background-color: #E1E1E1;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #222224;
    opacity: 0.67;
  }

  .subscribe-form-btn {
    display: block;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #F16D7F;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }

  .subscribe-form-btn:hover {
    background-color: #fff;
    color: #F16D7F;
  }

  .subscribe-form-btn:active {
    background-color: #F16D7F;
    color: #fff;
  }
  /* ======= end subscribe ======= */
  /* ======= end main ======= */
    
  /* ======= page-footer ======= */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  min-height: 79px;
  padding: 20px 235px;
  box-sizing: border-box;
  background-color: #222224;
}

.page-footer-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #FBFBFB;
}

.page-footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 148px;
}

.page-footer-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
}

.page-footer-socials-item svg {
  fill: #000;
}

.page-footer-socials-item:hover svg {
  fill: #F16D7F;
}

.page-footer-socials-item:active {
  background-color: #F16D7F;
}

.page-footer-socials-item:active svg {
  fill: #fff;
}
/* ======= end page-footer ======= */

.padding-site {
  padding-left: 10.3%;
  padding-right: 10.3%;
  box-sizing: border-box;
}

  /*======= page 768 ======= */

  @media(max-width: 768px){  
    .container {    
      max-width: 768px;
      font-style: normal;
      font-weight: 300;
    }
  
  /* ======= products ======= */  
  .products {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 736px;
    margin: 128px auto -662px auto;
    /* border: 2px solid red; */
  }

  .products-item-wrp {
    display: block;
    width: 360px;
    position: relative;
    margin: 0 16px 16px 0;
    background: #F8F8F8;
    text-decoration: none;
    box-sizing: border-box;
    /* border: 2px solid green; */
  }

  .products-item-wrp:nth-child(2n) {
    margin: 0 0 16px 0;
  }

  .products-item-wrp:nth-child(3n) {
    visibility: collapse;
  } 
  
  /* ======= end products ======= */

  /* ======= subsribe ======= */
  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 768px;
    min-height: 693px;
    /* border: 2px solid red; */
  }

  .subscribe-info {
    display: flex;
    margin:  48px auto 64px auto;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 360px;
  }
  /* ======= end subscribe ======= */

  .padding-site {
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
  }  
}
  